body{
    font-family: Arial, Helvetica, sans-serif;
}
H1 { 
    color:blue;
    
}
.meu-h2{
        color: pink;
        font-size: 40px;
}

#meuprofessor{
         font-family: Arial, Helvetica, sans-serif;
         color: #800080;
         
}
.btn-aula03{
     font-family: Arial, Helvetica, sans-serif;
     color:white;
     padding: 10px 20px;
     border-radius: 2px;
     background-color: #ff6347;
     cursor: pointer;
}
.btn-aula03:hover{
    background-color: rgb(248, 141, 122);
}

.btn-tiojão{
    font-family: times;
    color:teal;
    padding: 20px 40px;
    border-radius: 3px;
    background-color: rgb(247, 247, 81);
    cursor: Pointer;
}
.btn-tiojão:hover{
   Background-color: rgb(70, 202, 255);
}

p span{
    color: darkgreen;
    font-weight: Bold;
}

Div{
    margin-top: 50px;
}